PaperRaterApp/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="it.unipi.dii.lsmd.paperraterapp.config.ConfigurationParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="mongoFirstIp" type="xs:string"/>
				<xs:element name="mongoFirstPort" type="xs:int"/>
				<xs:element name="mongoDbName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
</xs:schema>